<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shsy.pdainspect"
    android:versionCode="3"
    android:versionName="车管所智能查验终端v1.3" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.shsy.pdainspect.BaseApplication"
        android:theme="@style/AppTheme" >
 
        <!-- activity声明 开始-->
        <activity android:name="com.shsy.pdainspect.ui.activity.SplashActivity" >
        	<!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <activity android:name="com.shsy.pdainspect.ui.activity.MainActivity" >
        	<!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <activity android:name="com.shsy.pdainspect.ui.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shsy.pdainspect.ui.activity.SelectFrmActivity" />  
        <activity android:name="com.shsy.pdainspect.ui.activity.GonggaoActivty" android:theme="@style/MyTitleTheme" />    
        <activity android:name="com.shsy.pdainspect.ui.activity.CheckVehActivity" android:theme="@style/MyTitleTheme" />
        <activity android:name="com.xys.libzxing.zxing.activity.CaptureActivity" />
        
        <!-- activity声明 结束-->
    </application>
    
</manifest>
